.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px auto 100px;
  grid-gap: 1em;
}
body {
  font-family: arial,sans-serif;
  font-size: small;
  color: #70757a;
  background-color: #fffaf9;
}
header, footer {
  grid-column: 1 / 4;
}
.left {
  justify-self: end;
  align-self: center;
}
.right{
  justify-self: start;
  align-self: center;
  transform: scaleX(-1);
}
main {
  grid-column: 2 / 3;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

p {
  padding: 10px;
  margin: 10px;
  line-height: 20px;
  background-color: #e7ebee;
  border-radius: 10px;    
}

div, button {
  margin: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}